@use './utils' as u;


.checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .checkbox__button {
            background-color: u.$base-blue;
            box-shadow: 0 0 0 1px u.$base-blue;
        }
        &:checked + .checkbox__button .checkbox__icon {
            opacity: 1;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        @include u.size(20);
        box-shadow: 0 0 0 1px u.$light-grey;
        border-radius: 4px; 
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0 0 0 1px u.$base-blue;
            }
        }
    }

    &__icon {
        display: block;
        @include u.size(14);
        fill: u.$color-white;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.delete {
    @include u.size(24);  
    &__icon {
        fill: u.$color-grey;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                fill: u.$base-blue;
            }
        }
    }
}
