@use './utils' as u;

.form-header {
    display: flex;
    align-items: center;
    @include u.media('tablet', max){
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 8px;
    }
    &__input {
        width: 344px;
        height: u.rem(40);
        background: #FFFFFF;
        box-shadow: 0px 0px 0px 1px u.$light-grey;
        border-radius: 4px;
        padding: 12px;
        margin-right: 22px;
        font-weight: 400;
        font-size: u.rem(14);
        line-height: 17px;
        color: u.$base-font-color;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0px 0px 0px 2px #D7DCFF;
            }
        }
        &:focus {
            outline: none !important;
            box-shadow: 0 0  0 1px u.$base-blue;
        }
        &:disabled {
            background: #EFEFEF;
            box-shadow: 0px 0px 0px 1px #EFEFEF;
            cursor:no-drop;
        }
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            color: u.$light-grey;
        }
    }

    &__btn-submit {
        display: flex;
        align-items: center;
        border-radius: 4px;
        height: u.rem(24);
        padding: 2px;
        font-weight: 500;
        font-size: u.rem(14);
        line-height: 17px;
        color: u.$light-grey;
        background-color: inherit;
        transition: all 0.3s ease 0s;
        &:focus {
            box-shadow: 0 0 0 2px#D7DCFF;
        }
    }
    .active-btn {
        color: u.$base-blue;
        svg {
            fill: u.$base-blue;
        }
    }

    &__icon-plus {
        @include u.size(16px);
        margin-right: 4px;
        fill: u.$light-grey;
        transition: all 0.3s ease 0s;
    }
}


