// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #EFEFEF;
$light-blue: #D7DCFF;
$base-blue: #3257FB;
$light-grey: #C4C4C4;
$color-grey: #6A6E74;



// FONTS
$primary-font: 'Rubik';
$base-font-size: 16px;
$base-font-color: #292D32;

// OFFSET
$mobile-container-padding-x: 16px;