// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #EFEFEF;


// FONTS
$primary-font: 'Rubik';
$base-font-size: 16px;
$base-font-color: #292D32;
$ligt-gray: #C4C4C4;
$blue-base: #3257FB;
// OFFSET
$mobile-container-padding-x: 16px;